body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 6em;
}

h1 {
    color: black;
}

p {
    color: #666;
}

.myocardium {
    color: red;
}

/* nav list */

#nav {
    padding: 0;
}

#nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 1em;
}

/* useful links */

ul.links li {
    list-style-type: none;
}

ul.links p {
    font-size: 0.9em;
}

/* Aid list styling */

ul.aid-list li {
    list-style-type: none;
    display: inline-block;
    padding: 0.7em;
}

ul.aid-list li img {
    display: block;
    margin-bottom: 0.4em;
}

ul.aid-list li span {
    display: block
}

ul.aid-list li span, ul.aid-list li a {
    font-size: 0.8em;
    display: block
}

/*misc*/

#intro {
    width: 80%;
}

a {
    text-decoration: none;
    color: #1684c8;
}

p.authors {
    font-size: 0.7em !important;
}

a:hover {
    color: blue;
}

input,textarea {
    padding: 1em;
    font-family: sans-serif;
}